<!-- Struktur der Seite -->
<!DOCTYPE html>                         <!--<!DOCTYPE html>=Diese Datei ist eine moderne HTML5-Webseite -->
<html lang="de">                        <!-- Beginn der HTML-Seite, Sprache = Deutsch sagt an deutscher inhalt -->

<head>                                  <!--  enthält informationen über die webseite, die nicht direkt angezeigt werden -->
    <meta charset="UTF-8">
    <title>Snake Game</title>
</head>

<body>                                  <!-- zeigt an was ich sehen kan auf der website -->

    <h1>Welcome to Snake</h1>           <!-- h1 Überschrift ebene 1 -->
    <div id="messageHud">Bitte Spieler auswählen</div>

    <!-- Spielfeld -->
    <canvas id="game" width="400" height="400" style="border:1px solid black;"></canvas>

    <div id="messagespecialfood"></div>

    <!-- Spieler Erstellen -->
    <input id="playerName" placeholder="Name">
    <button id="savePlayer">Spiel Starten</button>

    <!-- Schwirigkeitsgrad -->
    <button id="easyBtn">Easy</button>
    <button id="normalBtn">Normal</button>
    <button id="hardBtn">Hard</button>

    <!-- score label erstellen -->
    <div id="scoreHud">Score: 0</div>                              <!-- div = container -->
    <!-- Timer -->
    <div id="effectHud"></div>


    <!-- highscore label erstellen -->
    <div id="highscores">
    <h3>Top 3 Highscores</h3>
    </div>

    <!-- gameOver text -->
    <div id="gameOverBox" style="display:none;">
    <p id="messageHud">GAME OVER</p>
    <button id="restartBtn">Weiter spielen</button>
    <button id="menuBtn">Schwierigkeit ändern</button>
    </div>

    <script src="/static/game.js"></script>         <!-- lade das script game.js aus dem static ordner und fuhrt es aus -->

</body>                                     <!-- makiert das ende des sichbaren bereiches -->
</html>                                     <!-- beended die seite -->

<style>
#messagespecialfood
{
    position: absolute;
    left: 200px;
    top: 200px;
    color: gold;
    font-size: 20px;
    font-weight: bold;
    pointer-events: none;
}
</style>